* {
  vertical-align:top;
  box-sizing:border-box;
}
:root {
  --gap:5px;
}
body, html {
  width:100vw;
  height:100%;
  margin:0;
  background:#120606;
}
div {
  display:inline-block;
}
#topbar {
  background: linear-gradient(90deg,#90C,#F00,#F80,#FF0);
  color: #FFF;
  padding: var(--gap);
  font-size: 25px;
  font-family:Rubik, sans-serif;
  width:100%;
}
#pixelboard {
  width:30vw;
  height:30vw;
  border-width:var(--gap);
  border-color:#000000;
  border:solid;
  position:fixed;
  top:var(--gap);
  right:var(--gap);
}
#pixelboard .pixelrow {
  width:100%;
  height:1.5625%;
}
#pixelboard .pixel {
  transition:border-width 0.3s;
}
.topbarlink {
  cursor:pointer;
  color:#FFF;
  transition:color 0.3s;
  display:block;
  width:max-content;
  text-align:center;
  text-decoration:none;
}
.topbarlink > .topbaraborder {
  width:0px;
  background:#3DF;
  position:relative;
  height:calc(var(--gap)/2);
  bottom:calc(var(--gap)/2);
  transition:width 0.3s;
  display:inline-block;
}
.topbarlink:hover {
  color:#3DF;
}
.topbarlink:hover > .topbaraborder {
  width:100%;
}
