* {
  vertical-align:top;
  box-sizing:border-box;
}
:root {
  --gap:5px;
}
body, html {
  width:100vw;
  height:100%;
  margin:0;
  background:#120606;
  color:#EEE;
  font-family:Rubik,sans-serif;
}
div {
  display:inline-block;
}
#topbar {
  background: linear-gradient(90deg,#0B3,#0BF,#90C,#F00,#F80,#FF0);
  color: #FFF;
  padding: var(--gap);
  font-size: 25px;
  font-family:Rubik, sans-serif;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
}
#pixelboard {
  padding:1px;
  width:30vw;
  height:30vw;
  border-width:var(--gap);
  border-color:#000000;
  border:solid;
  position:fixed;
  top:calc(40px + var(--gap));
  right:var(--gap);
  line-height:0;
}
#pixelboard .pixelRow {
  width:100%;
  height:1.5625%;
}
#pixelboard .pixel {
  transition:background 0.3s;
  background:transparent;
  width:1.5625%;
  height:100%;
  display:inline-block;
}
.topbarlink {
  cursor:pointer;
  color:#FFF;
  text-shadow:1px 1px 0px #000;
  transition:color 0.3s;
  display:inline-block;
  width:max-content;
  text-align:center;
  text-decoration:none;
  height:30px;
  margin-right:calc(4*var(--gap))
}
.belowaborder {
  width:0px;
  background:#FFF;
  position:relative;
  height:calc(var(--gap)/2);
  bottom:calc(var(--gap)/2);
  transition:width 0.3s, background 0.3s;
  display:inline-block;
  border-bottom:1px solid #000;
}
.topbarlink:hover:not(.activetbl) > .belowaborder, .godownbutton:hover > .belowaborder {
  width:100%;
}
#mainbody {
  overflow:scroll;
  scroll-snap-type: y mandatory;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
.section {
  width:calc(100vw - 22*var(--gap) - 30vw);
  padding:calc(10*var(--gap));
  padding-top:calc(10*var(--gap) + 40px);
  scroll-snap-align:start;
  height:100vh;
  position:relative;
}
h1 {
  font-size:5em;
  margin:0;
}
h3 {
  font-weight:400;
  margin:0;
}
.rainbowtext {
  background:linear-gradient(90deg,#0B3 0% 6.25%,#0BF 18.75% 25%,#90C 37.5% 43.75%,#F00 56.25% 62.5%,#F80 75% 81.25%,#FF0 93.75% 100%);
  -webkit-background-clip:text;
  color:transparent;
}
.godownbutton {
  background:#F44;
  border-radius:8px;
  height:30px;
  border:0px solid #000;
  width:max-content;
  display:block;
  margin-top:var(--gap);
}
.godownbutton > a {
  font-weight:400;
  color:#FFF;
  font-size:20px;
  text-decoration:none;
  margin:0 var(--gap);
  display:inline-block;
  height:100%;
  text-shadow:1px 1px 0px #000;
}
.proglang {
  width:calc(6*var(--gap));
  margin-left:var(--gap);
  position:relative;
  -webkit-filter:grayscale(1);
  transition: -webkit-filter 0.3s;
}
.proglang:hover {
  -webkit-filter:grayscale(0);
}
.proglangsticker {
  opacity:0;
  display:none;
  transition:opacity 0.3s;
  background:#333;
  border:#777;
  border-radius:5px;
  height:20px;
  font-size:10px;
  position:absolute;
  top:-20px;
  left:50%;
  transform:translateX(-50%);
}
.proglang:hover .proglangsticker {
  display:block;
  opacity:1;
}
.whitedotgrid {
  position:absolute;
  background:url('/whitecircle.png');
  background-size:15px;
  z-index:-1; 
}
.mathimage {
  max-width:100%;
}
