* {
  vertical-align:top;
  box-sizing:border-box;
}
:root {
  --gap:5px;
}
body, html {
  width:100vw;
  height:100%;
  margin:0;
}
div {
  display:inline-block;
}
#topbar {
  width:100%;
}
#pixelboard {
  width:30vw;
  height:30vw;
  border-width:var(--gap);
  border-color:#000000;
  position:fixed;
  top:var(--gap);
  right:var(--gap);
}
#pixelboard .pixelrow {
  width:100%;
  height:1.5625%;
}
#pixelboard .pixel {
  transition:border-width 0.3s;
}
